@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    /* Component Color */
    --color-primary: #3c3d5b;
    --color-secondary: #50527A;
    --color-link: #7069fa;
    --color-link-hover: #8c86ff;
    --color-button: #50527A;
    --color-border-button: #9aa5b1;
    --color-border: #e8e9eb;
    --color-font: #3e4c59;
    --color-font-light: #616e7c;
    --color-font-lighter: #9aa5b1;
    --color-outline: #a0c2ff;

    /* Other Variables */
    --font-default: DM Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

html,
body {
    color: var(--color-font);
    font-family: var(--font-default);
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-primary {
    color: #3C3D5B;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.auth-layout {
    background-color: rgb(246, 250, 255) !important;
}

.auth-layout a {
    color: var(--color-link);
    cursor: pointer;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}
.auth-layout a:hover {
    color: var(--color-link-hover);
}

.standard-button {
    background-color: var(--color-primary) !important;
    transition: color 0.1s ease-in-out;
}

.standard-button:hover {
    background-color: var(--color-secondary);
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

/* Custom animation */
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}