.dashboard{
    position: relative;
    left: 250px;
    background-color: rgb(246, 250, 255);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
	
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: rgb(60, 61, 91, 1.0);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    transition: var(--tran-05);
    z-index: 10;
    border-bottom: 1px solid rgb(15, 23, 42, 0.1);
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .auth-nav{
    white-space: nowrap;
    overflow: hidden;
}

.dashboard .top .auth-name{
    @apply text-slate-200 font-medium text-sm truncate text-start w-28;
}

.dashboard .top .auth-role{
    font-size: 10px;
    @apply text-slate-300;
}

.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

@media (max-width: 1000px) {
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
}

@media (max-width: 400px) {
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}