nav#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    background-color: #3C3D5B;
    box-shadow: inset -7px 0 10px -7px rgba(59, 59, 59, 0.4);
}
nav#sidebar.close{
    width: 73px;
    box-shadow: none;
}

nav#sidebar .menu-items{
    height: calc(100% - 5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
    margin-bottom: 0.75rem;
}

.menu-items .logo-container {
    transition: all ease .075s;
    @apply w-full h-16 mb-2.5 border-transparent border-2;
}

.menu-items .logo {
    background-image: url('../../public/images/app/logo.png');
    @apply  w-full h-full bg-contain bg-no-repeat bg-center;
}

nav#sidebar.close .menu-items .logo-container {
    @apply w-10 h-10 p-1 border-2 border-gray-200 bg-gray-200 rounded-3xl mb-8;
}

nav#sidebar.close .menu-items .logo {
    background-image: url('../../public/images/app/logo-min.png');
    @apply  w-full h-full bg-contain bg-no-repeat bg-left;
}

.menu-items li a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding: 0.5rem;
    column-gap: 0.75rem;
}

nav#sidebar.close .menu-items li a {
    background-color: transparent;
}

nav#sidebar.close .menu-items li a:hover svg {
    @apply fill-white;
    transition: none;
}

.menu-items li a svg{
    flex-shrink: 0;
    vertical-align: middle;
    width: 1.50rem;
    height: 1.50rem;
    @apply fill-gray-300;
}

.menu-items li a .link-name{
    @apply text-gray-400 capitalize truncate font-medium text-sm w-full;
}

nav#sidebar.close li a .link-name{
    width: 0;
    overflow-x: hidden;
    white-space: nowrap;
    pointer-events: none;
}

.nav-links li a:hover {
    background-color: #50527A;
}

.nav-links li a:hover svg {
    fill: white;
}

.nav-links li a:hover .link-name{
    @apply text-white;
}

/* Bottom Container Styles */

.menu-items .bottom-container{
    padding-top: 10px;
    /* @apply border-t border-gray-600; */
}

.menu-items .bottom-container li a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    background-color: #1d1d2f;
}

nav#sidebar.close .menu-items .bottom-container li a {
    @apply shadow-none
}

.menu-items .bottom-container li a svg{
    flex-shrink: 0;
    vertical-align: middle;
    width: 1.60rem;
    height: 1.60rem;
    @apply fill-gray-200;
}

.menu-items .bottom-container li a .link-name{
    letter-spacing: 0.025em;
    @apply font-medium truncate text-gray-200 uppercase text-sm;
}

@media (max-width: 1000px) {
    nav#sidebar{
        width: 73px;
    }
    nav#sidebar.close{
        width: 250px;
    }
    nav#sidebar li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav#sidebar.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-width: 400px) {
    nav#sidebar{
        width: 0px;
    }
    nav#sidebar.close{
        width: 73px;
    }
    nav#sidebar li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav#sidebar.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
}